#AuthType Basic
#AuthName "Authentication Required"
#AuthUserFile "/etc/apache2/htpasswd"
#Require valid-user

Options +FollowSymLinks

#   This information relates the filename of the document to its mime-type, language, character set and encoding.
#   http://httpd.apache.org/docs/2.2/mod/mod_mime.html
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
#AddType application/x-httpd-php5 .html .htm .xml

# JavaScript
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
AddType application/javascript      js jsonp
AddType application/x-javascript    js
AddType application/json            json

# Audio
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
AddType audio/mp4                   m4a f4a f4b
AddType audio/ogg                   oga ogg

# Video
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
AddType video/mp4                   mp4 m4v f4v f4p
AddType video/ogg                   ogv
AddType video/webm                  webm
AddType video/x-flv                 flv
AddType video/mp4                   mov

# SVG
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
AddType image/svg+xml               svg svgz
AddEncoding gzip                    svgz

# Web fonts
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
AddType application/font-woff                       woff
AddType application/vnd.ms-fontobject               eot
AddType application/x-font-ttf                      ttc ttf
AddType font/opentype                               otf

# Use UTF-8 encoding for anything served as `text/html` or `text/plain`.
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
AddDefaultCharset utf-8

# Force UTF-8 for certain file formats.
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<IfModule mod_mime.c>
    AddCharset utf-8 .atom .css .js .json .rss .vtt .webapp .xml
</IfModule>

# Remove the ETag header, and force caches and browsers to rely on Cache-Control and Expires headers I set.
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None

#   Send CORS headers to browsers that request it.
#   http://httpd.apache.org/docs/2.2/mod/mod_setenvif.html
#   http://httpd.apache.org/docs/2.2/mod/mod_headers.html
#   https://developer.mozilla.org/en/CORS_Enabled_Image
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        <FilesMatch "\.(gif|ico|jpe?g|png|svg|svgz|webp)$">
            SetEnvIf Origin ":" IS_CORS
            Header set Access-Control-Allow-Origin "*" env=IS_CORS
        </FilesMatch>
    </IfModule>
</IfModule>

#   Cross-domain fonts from all domains.
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<FilesMatch "\.(eot|font.css|otf|ttc|ttf|woff|woff2|sfnt|svg)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
        # Cache for 1 hr.
        Header set Cache-Control "max-age=3600, public"
    </IfModule>
</FilesMatch>

#   Caching
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access plus 1 week"

	# CSS
#	ExpiresByType text/css                              "access plus 1 year"

	# Data interchange
	ExpiresByType application/json                      "access plus 0 seconds"
	ExpiresByType application/xml                       "access plus 0 seconds"
	ExpiresByType text/xml                              "access plus 0 seconds"

	# Favicon
	ExpiresByType image/x-icon                          "access plus 1 week"

	# HTML components
	ExpiresByType text/x-component                      "access plus 1 month"

	# HTML
	ExpiresByType text/html                             "access plus 0 seconds"

	# JavaScript
	ExpiresByType text/javascript                		"access plus 3 hours"
	ExpiresByType application/javascript                "access plus 3 hours"
	ExpiresByType text/x-javascript 					"access plus 3 hours"

	# Manifest files
	ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
	ExpiresByType text/cache-manifest                   "access plus 0 seconds"

	# Media
	ExpiresByType image/gif								"access plus 1 week"
	ExpiresByType image/jpg								"access plus 1 week"
	ExpiresByType image/jpeg							"access plus 1 week"
	ExpiresByType image/png								"access plus 1 week"
	ExpiresByType image/svg+xml                         "access plus 1 week"
	ExpiresByType video/mp4                             "access plus 1 week"
	ExpiresByType video/webm                            "access plus 1 week"
	ExpiresByType video/ogg                             "access plus 1 week"
	ExpiresByType audio/ogg                             "access plus 1 week"
	ExpiresByType application/x-shockwave-flash			"access plus 1 month"

	# Web feeds
	ExpiresByType application/atom+xml                  "access plus 1 hour"
	ExpiresByType application/rss+xml                   "access plus 1 hour"

	# Web fonts
	ExpiresByType application/font-woff2                "access plus 1 month"
	ExpiresByType application/font-woff                 "access plus 1 month"
	ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
	ExpiresByType application/x-font-ttf                "access plus 1 month"
	ExpiresByType font/opentype                         "access plus 1 month"


	# Mssc
	ExpiresByType application/pdf						"access plus 3 hours"

#	Header set Access-Control-Allow-Origin "*"
#	Header set Cache-Control "max-age=3600, public"
</IfModule>

#   Compression
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<IfModule mod_deflate.c>
    # Force compression for mangled headers.
    # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Compress all output labeled with one of the following MIME-types
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                application/x-javascript \
                application/javascript \
                application/json \
                application/rss+xml \
                application/vnd.ms-fontobject \
                application/x-font-ttf \
                application/x-web-app-manifest+json \
                application/xhtml+xml \
                application/xml \
                font/opentype \
                image/svg+xml \
                image/x-icon \
                text/css \
                text/html \
                text/plain \
                text/x-component \
                text/xml \
                text/richtext \
                text/javascript
    </IfModule>
</IfModule>

# GZIP
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<IfModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

#   Allow XML file to run PHP code
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<IfModule mod_php5.c>
  <FilesMatch "\.xml$">
        SetHandler application/x-httpd-php
    </FilesMatch>
</IfModule>

# Less,logs file denail
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
<FilesMatch "(?i)\.(less|log)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

#   Deep Linking
# ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteBase /

#•••••••URL_REWRITING_START•••••••
	RewriteRule ^cash-management$ cash-management\.html
	RewriteRule ^cash-management/armored-truck-service$ armored-truck-service\.html
	RewriteRule ^cash-management/cash-vault-service$ cash-vault-service\.html
	RewriteRule ^cash-management/smart-safes$ smart-safes\.html
	RewriteRule ^cash-management/ordering-bills-and-coins$ ordering-bills-and-coins\.html
	RewriteRule ^cash-management/atm-service$ atm-service\.html
	RewriteRule ^security-solutions$ security-solutions\.html
	RewriteRule ^security-solutions/security-systems$ security-systems\.html
	RewriteRule ^security-solutions/security-systems/access-control$ access-control\.html
	RewriteRule ^security-solutions/security-systems/fire-and-life-safety$ fire-and-life-safety\.html
	RewriteRule ^security-solutions/security-systems/intrusion-detection$ intrusion-detection\.html
	RewriteRule ^security-solutions/security-systems/monitoring-service$ monitoring-service\.html
	RewriteRule ^security-solutions/security-systems/video-surveillance$ video-surveillance\.html
	RewriteRule ^security-solutions/protective-guard-services$ protective-guard-services\.html
	RewriteRule ^security-solutions/cybersecurity$ cybersecurity\.html
	RewriteRule ^security-solutions/cybersecurity/continuous-threat-monitoring$ continuous-threat-monitoring\.html
	RewriteRule ^security-solutions/cybersecurity/mobility-and-remote-access$ mobility-and-remote-access\.html
	RewriteRule ^security-solutions/cybersecurity/data-protection-and-encryption$ data-protection-and-encryption\.html
	RewriteRule ^security-solutions/cybersecurity/online-applications$ online-applications\.html
	RewriteRule ^security-solutions/cybersecurity/cyber-risk-management$ cyber-risk-management\.html
	RewriteRule ^security-solutions/cybersecurity/managed-services$ managed-services\.html
	RewriteRule ^security-solutions/cybersecurity/fraud-prevention$ fraud-prevention\.html
	RewriteRule ^security-solutions/cybersecurity/consulting-services$ consulting-services\.html
	RewriteRule ^security-solutions/cybersecurity/business-continuity$ business-continuity\.html
	RewriteRule ^industry-solutions$ industry-solutions\.html
	RewriteRule ^industry-solutions/retail$ retail\.html
	RewriteRule ^industry-solutions/finance$ finance\.html
	RewriteRule ^industry-solutions/healthcare$ healthcare\.html
	RewriteRule ^industry-solutions/government$ government\.html
	RewriteRule ^industry-solutions/education$ education\.html
	RewriteRule ^industry-solutions/high-value-commodities$ high-value-commodities\.html
	RewriteRule ^industry-solutions/residential$ residential\.html
	RewriteRule ^industry-solutions/treasury$ treasury\.html
	RewriteRule ^industry-solutions/human-resources$ human-resources\.html
	RewriteRule ^industry-solutions/c-level-executives$ c-level-executives\.html
	RewriteRule ^industry-solutions/information-technology$ information-technology\.html
	RewriteRule ^(.*)blog(.*)$ http://blog.dunbar-dev.URLHERE.com [L]
	RewriteRule ^about$ about\.html
	RewriteRule ^about/in-the-news$ in-the-news\.html
	RewriteRule ^contact-us$ contact-us\.html
	RewriteRule ^request-an-assessment$ request-an-assessment\.html
	RewriteRule ^about/privacy-policy$ privacy-policy\.html
	RewriteRule ^about/careers$ careers\.html
#•••••••URL_REWRITING_END•••••••


    # HTTP Status Code Handling
    ErrorDocument 400 /http_status_code_400.html
    ErrorDocument 401 /http_status_code_401.html
    ErrorDocument 403 /http_status_code_403.html
    ErrorDocument 404 /http_status_code_404.html
    ErrorDocument 500 /http_status_code_500.html


    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]

</IfModule>
